* {
	text-align:center
}

body {
	text-align:center;
	font-family:verdana;
	background-color:#f8f8f8
}

.vertical-menu {
  width:100px; 
  display: block;
}
.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 4px;
  text-decoration: none; 
}
.vertical-menu a:hover {
  background-color: #ccc;
}
.vertical-menu a.active {
  background-color: #1E90FF;
  color: white;
}
}
img {
	margin-left:auto;
    margin-right:auto;
	width:30%;
	border:4px solid black;
	position:static;
}

